* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin-inline: 1rem;
}

main {
  top: 100px;
  position: relative;
  margin: auto;
  width: 500px;
  padding: 2rem;
}

.main-content {
  height: 500px;
}

.nav-buttons {
  bottom: 50px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

.board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
  height: 400px;
}

.square {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.square:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: lightgoldenrodyellow;
}
